header{
    text-align: center;
    font-size: 2em;
    margin-top: 1em;
  }
  body p{
      font-size: 1.5em;
      text-align: center;
  }
.stats{
    white-space: nowrap;
    text-align: center;
}
.stats li{
    font-size: 2em; 
    width: 25%;
    display: inline-block;
}
.log{
    white-space: nowrap;
    text-align: center;
}
.log li{
    font-size: 1.5em; 
    display: block;
}
.log1{
    font-weight: bold;
    font-size: 1.7em;
    text-decoration: underline;
}